form{
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px;
}
p{
  margin: 0;
}

label{
  margin-top: 15px;
}

input{
  padding: 10px;
  border-radius: 10px;
}

button{
  width: 100px;
  padding: 13px;
  background-color: rgb(21, 106, 233);
  color: white;
  border: none;
  font-size: 14px;
  border-radius: 20px;
  margin-left: 150px;
  margin-top: 20px;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}